h1{
    text-align: center;
    margin: 30px;
}

.grid-row{
    display: flex;
    justify-content: center;
    
} 

.grid-item{
    text-align: center;
    background-color: rgb(137, 197, 137);
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    font-size: 40px;
}

#turn{
    font-size: large;
    margin-top: 20px;
    text-align: center;
}